@font-face {
  font-family: 'Raleway-Regular';
  src: url('./assets/fonts/Raleway-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('./assets/fonts/Raleway-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'Raleway-LightItalic';
  src: url('./assets/fonts/Raleway-LightItalic.ttf') format('woff2');
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Raleway-Regular";
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
